body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.navegacao ul li {
    list-style-type: none;
    display: flex;
}

.navegacao ul li span {
    align-content: center;
    padding: 8px;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

footer {
    background-color: #333;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
